@model PartsSeparatedListViewModel

<div class="table-responsive">
	<h2 class="h2">Запчасти из блока @Model.BlockName</h2>
	<table class="table">
		<tr>
			<th>
				Наименование
			</th>
			<th>
				Цена
			</th>
		</tr>
		@foreach (var item in Model.SpareParts)
		{
			<tr>
				<td>
					@item.Name
				</td>
				<td>
					$ @item.Price
				</td>
			</tr>
		}
	</table>
</div>